@page
@model DeleteModel
@{
    ViewData["Title"] = Localizer["Delete Agent"];
    ViewData["ActiveMainPage"] = "Agent";
    ViewData["Level1"] = "CCM";
}

<form id="agent-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Agent" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="button" id="btnDelete" class="btn btn-danger" title="@Localizer["Delete"]"><i class="fas fa-trash"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
    <partial name="_DisableFieldsPartial" model="@("agent-form")" />
    <partial name="_ValidationScriptsPartial" />
    <script asp-add-nonce>
        $(document).ready(function () {
            $.bindSaveConfirmationModal('Save', '#btnDelete', '#agent-form', 'Are you sure you want to delete this agent?');
        });
    </script>
}