@page
@model IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Agent List"];
    ViewData["ActiveMainPage"] = "Agent";
    ViewData["Level1"] = "CCM";
    var toolBarModel = new Emite.CCM.Web.Models.ListingToolbarModel(Localizer["Agent List"].Value);
    if ((await AuthorizationService.AuthorizeAsync(User, Permission.Agent.Create)).Succeeded)
    {
        toolBarModel.Buttons.Add(new Emite.CCM.Web.Models.Button("/Agent/Add", "CCM", Emite.CCM.Web.Models.ButtonType.Add, 1));
    }
    if ((await AuthorizationService.AuthorizeAsync(User, Permission.Agent.Upload)).Succeeded)
    {
        toolBarModel.Buttons.Add(new Emite.CCM.Web.Models.Button(Emite.CCM.Web.Models.ButtonType.DownloadTemplate, 2));
    }
    if ((await AuthorizationService.AuthorizeAsync(User, Permission.Agent.Upload)).Succeeded)
    {
        toolBarModel.Buttons.Add(new Emite.CCM.Web.Models.Button(Emite.CCM.Web.Models.ButtonType.Upload, 3));
    } 
}
<partial name="_ListingsToolbarPartial" model=@(toolBarModel) />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="agent" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Email"]
							</th>
							<th>
								@Localizer["Name"]
							</th>
							<th>
								@Localizer["Phone Extension"]
							</th>
							<th>
								@Localizer["Status"]
							</th>
							  
							
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#agent').DataTable({
                select: false,
                serverSide: true,
                responsive: true,
                order: [[4, 'desc']],
                dom: '@Html.Raw(Emite.CCM.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/Agent/Index", new { area = "CCM", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                initComplete: function (settings, json) {
                    BindTableRowCollapseEvent();
                },
                columns: [
                    { data: "email", name: "Email", responsivePriority: 1, title: '@Localizer["Email"]', searchable: true, className: "text-start" },
				{ data: "name", name: "Name", responsivePriority: 1, title: '@Localizer["Name"]', searchable: true, className: "text-start" },
				{ data: "phoneExtension", name: "PhoneExtension", responsivePriority: 1, title: '@Localizer["Phone Extension"]', searchable: true, className: "text-start" },
				{ data: "status", name: "Status", responsivePriority: 2, title: '@Localizer["Status"]', searchable: true, className: "text-start" },
				   
					
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1,
                        width: "10%",
                        className: "fills-text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/Agent/Details", new { area = "CCM" })' + '?id=' + row.id;
                            var button = '<a href="' + url + '" class="btn btnFills btnInfoIcon btnViewAgent" title="@Localizer["View"]"></a>';
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Agent.Edit)).Succeeded)
        {
            <text>
                                    url = '@Url.Page("/Agent/Edit", new { area = "CCM" })' + '?id=' + row.id;
                                button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btnEditIcon btnEditAgent" title="@Localizer["Edit"]"></a>';
            </text>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Agent.Delete)).Succeeded)
        {
            <text>
                                    url = '@Url.Page("/Agent/Delete", new { area = "CCM" })' + '?id=' + row.id;
                                button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btnDeleteIcon btnDeleteAgent" title="@Localizer["Delete"]"></a>';
            </text>
        }
        
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Agent.History)).Succeeded)
        {
            <text>
                                    url = '@Url.Page("/Agent/History", new { area = "CCM" })' + '?id=' + row.id;
                                button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btnHistoryIcon" title="@Localizer["History"]"></a>';
            </text>
        }
                                                                                                                        return button;
                        },
                    },
                    { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                    { data: "id", name: "Id", visible: false },
                ],
                buttons: [
                    'pageLength',
                ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

            $('.btn-table_filter').on('click', function (e) {
                table.ajax.reload(null, false);
            });
            function BindTableRowCollapseEvent() {
                $('#agent tbody').on('click', 'td.dtr-control', function () {
                    $.showAjaxLoaderOnClick([".btnAddAgent", ".btnEditAgent", ".btnViewAgent", ".btnDeleteAgent"]);
                });
            }
            $.showAjaxLoaderOnClick([".btnAddAgent", ".btnEditAgent", ".btnViewAgent", ".btnDeleteAgent"]);
            $.InitializeSearchKeyCookies(table);
            $('#btnBatchUpload').on('change', function (e) {
                $('#batch-upload-form').submit();
            });
            $('#@(Emite.CCM.Web.Models.ListingToolbarConstants.ButtonPrefix + Emite.CCM.Web.Models.ButtonType.DownloadTemplate)').on('click', function (e) {
				$('#download-template-form').submit();
			});
			$('#@(Emite.CCM.Web.Models.ListingToolbarConstants.ButtonPrefix + Emite.CCM.Web.Models.ButtonType.Upload)').on('click', function (e) {
				$('#btnBatchUpload').click();
			});
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                    $('#btnDownloadBatchUploadTemplateLink')[0].click();
            </text>
        }
        });
    </script>
}