@model string


@if (Model == Emite.CCM.Core.CCM.ApprovalStatus.ForApproval)
{
    <h4><span class="badge bg-info">@Model</span></h4>
}
else if (Model == Emite.CCM.Core.CCM.ApprovalStatus.PartiallyApproved)
{
    <h4><span class="badge bg-primary">@Model</span></h4>
}
else if (Model == Emite.CCM.Core.CCM.ApprovalStatus.Approved)
{
    <h4><span class="badge bg-success">@Model</span></h4>
}
else if (Model == Emite.CCM.Core.CCM.ApprovalStatus.Rejected)
{
    <h4><span class="badge bg-danger">@Model</span></h4>
}
else
{
    <h4><span class="badge bg-seconday">@Model</span></h4>
}