@{
    var user = await UserManager.GetUserAsync(User);
    var appName = Configuration.GetValue<string>("Application");
	var backgroundClass = Configuration.GetValue<string>("BackgroundClass");
	var appShortName = Configuration.GetValue<string>("ApplicationShortName");
}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion @backgroundClass p-0">
    <div class="container-fluid d-flex flex-column p-0">    
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
			<li class="nav-item level-one-nav @ManageNavPages.Level1Class(ViewContext, "Dashboard")">
                <a href="/CCM/Dashboard" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Dashboard")">
                    <i class="fas fa-tachometer-alt nav-icon"></i>
                    <span>
                        @Localizer["Dashboard"]
                    </span>
                </a>
            </li>
            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Admin.View)).Succeeded)
            {
                <li class="nav-item level-one-nav @ManageNavPages.Level1Class(ViewContext, "Admin")">
                    <a href="#" class="nav-link">
                        <i class="fas fa-cogs nav-icon"></i>
                        <span>
                            @Localizer["Admin"]
                            <i class="right fas level-one-nav-icon fa-angle-left"></i>
                        </span>
                    </a>
                    <ul class="nav nav-treeview">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Entities.View)).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="/Admin/Entities" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Entities")">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <span>@Localizer["Entities"]</span>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Roles.View)).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="/Admin/Roles" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Roles")">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <span>@Localizer["Roles"]</span>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Users.View)).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="/Admin/Users" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Users")">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <span>@Localizer["Users"]</span>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Apis.View)).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="/Admin/Apis" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "APIs")">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <span>@Localizer["APIs"]</span>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Applications.View)).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="/Admin/Applications" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Applications")">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <span>@Localizer["Applications"]</span>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.AuditTrail.View)).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="/Admin/AuditTrail" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "AuditTrail")">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <span>@Localizer["Audit Trail"]</span>
                                </a>
                            </li>
                        }
                        @if((await AuthorizationService.AuthorizeAsync(User, Permission.ApproverSetup.View)).Succeeded)
							{
								<li class="nav-item">
									<a href = "/CCM/ApproverSetup" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Approval")">
										<i class="fas fa-circle nav-icon"></i>
										<span>
											@Localizer["Approval"]
										</span>
									</a>
								</li>
							}
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportSetup.View)).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="/CCM/ReportSetup" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "ReportSetup")">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <span>
                                        @Localizer["Report Setup"]
                                    </span>
                                </a>
                            </li>
                        }
						<li class="nav-item">
							<a href="/Admin/BatchUploadJobs" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "BatchUploadJobs")">
								<i class="fas fa-circle nav-icon"></i>
								<span>
									@Localizer["Batch Upload Jobs"]
								</span>
							</a>
						</li>
                    </ul>
                </li>
            }
            <li class="nav-item level-one-nav @ManageNavPages.Level1Class(ViewContext, "CCM")">
                <a href="#" class="nav-link">
                    <i class="fas fa-list-alt nav-icon"></i>
                    <span>
                        @Localizer["Manage Calls / Tickets"]
                        <i class="right fas level-one-nav-icon fa-angle-left"></i>
                    </span>
                </a>
                <ul class="nav nav-treeview">
                    @if((await AuthorizationService.AuthorizeAsync(User, Permission.Agent.View)).Succeeded)
						{
							<li class="nav-item">
								<a href = "/CCM/Agent" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Agent")">
									<i class="fas fa-circle nav-icon"></i>
									<span>
										@Localizer["Agent"]
									</span>
								</a>
							</li>
						}
						@if((await AuthorizationService.AuthorizeAsync(User, Permission.Customer.View)).Succeeded)
						{
							<li class="nav-item">
								<a href = "/CCM/Customer" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Customer")">
									<i class="fas fa-circle nav-icon"></i>
									<span>
										@Localizer["Customer"]
									</span>
								</a>
							</li>
						}
						@if((await AuthorizationService.AuthorizeAsync(User, Permission.Call.View)).Succeeded)
						{
							<li class="nav-item">
								<a href = "/CCM/Call" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Call")">
									<i class="fas fa-circle nav-icon"></i>
									<span>
										@Localizer["Call"]
									</span>
								</a>
							</li>
						}
						@if((await AuthorizationService.AuthorizeAsync(User, Permission.Ticket.View)).Succeeded)
						{
							<li class="nav-item">
								<a href = "/CCM/Ticket" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Ticket")">
									<i class="fas fa-circle nav-icon"></i>
									<span>
										@Localizer["Ticket"]
									</span>
								</a>
							</li>
						}
						
                </ul>
            </li>
			@{
                var reportList = await dropdownService.GetReportList();
                if (reportList.Count > 0)
                {
                    if ((await AuthorizationService.AuthorizeAsync(User, Permission.Report.View)).Succeeded)
                    {
                        <li class="nav-item level-one-nav @ManageNavPages.Level1Class(ViewContext, "Report")">
                            <a href="#" class="nav-link">
                                <i class="fas fa-chart-line nav-icon"></i>
                                <span>
                                    @Localizer["Report"]
                                    <i class="right fas level-one-nav-icon fa-angle-left"></i>
                                </span>
                            </a>
                            <ul class="nav nav-treeview">
                                @foreach (var item in reportList)
                                {
                                    <li class="nav-item">
                                        <a href="/CCM/Report?Id=@item["ReportId"]" class="nav-link @ManageNavPages.PageNavClass(ViewContext, item["ReportClass"])">
                                            <i class="fas fa-circle nav-icon"></i>
                                            <span>@item["ReportName"]</span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </li>
                    }
                }
            }
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>