@using Models
@model CallViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.AgentId" class="form-label"><strong>@Localizer["Agent Id"] :</strong></label>
            <select asp-for="@Model.AgentId" class="form-control" asp-items="@(dropdownService.GetAgentList(Model.AgentId))"><option value="">- Select Agent Id -</option></select>
            <span asp-validation-for="@Model.AgentId" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.CustomerId" class="form-label"><strong>@Localizer["Customer Id"] :</strong></label>
            <select asp-for="@Model.CustomerId" class="form-control" asp-items="@(dropdownService.GetCustomerList(Model.CustomerId))"><option value="">- Select Customer Id -</option></select>
            <span asp-validation-for="@Model.CustomerId" class="text-danger"></span>

        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.StartTime" class="form-label"><strong>@Localizer["Start Time"] :</strong></label>
            <input asp-for="@Model.StartTime" class="form-control" />
            <span asp-validation-for="@Model.StartTime" class="text-danger"></span>

        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.EndTime" class="form-label"><strong>@Localizer["End Time"] :</strong></label>
            <input asp-for="@Model.EndTime" class="form-control" />
            <span asp-validation-for="@Model.EndTime" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Notes" class="form-label"><strong>@Localizer["Notes"] :</strong></label>
            <textarea rows="4" asp-for="@Model.Notes" class="form-control"></textarea>
            <span asp-validation-for="@Model.Notes" class="text-danger"></span>

        </div>
    </div>  
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Status" class="form-label"><strong>@Localizer["Status"] :</strong></label>           
            <select asp-for="@Model.Status" class="form-control" asp-items="@(dropdownService.GetDropdownFromConstants<Emite.CCM.Core.CCM.CallStatus>())">
                <option value="">- Select Status -</option>
            </select>
            <span asp-validation-for="@Model.Status" class="text-danger"></span>
        </div>
    </div>
</div>
